<%= form_with(model: @service, local: true, html: { multipart: true }) do |form| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
        <% @service.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <% if @service.image.attached? %>
    <p>Текущее изображение:</p>
    <%= image_tag @service.image, style: "max-width: 200px;" %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
