<!--<div>-->
<!--  <div>-->
<!--    <div>-->
<!--      <h1><%#= @service.name %></h1>-->
<!--      <p><%#= @service.description %></p>-->
      <%#= link_to "#{@service.town.name }", town_path(@service.town) %>
<!--      <p><%#= %></p>-->
      <%# @service.images.each do |img| %>
        <%#= image_tag rails_storage_proxy_path(img), size: "512x320" %>
      <%# end %>
<!--         <a href="#" id="showMap">Показать карту</a>-->
<!--      <div id="YMapsID" style="width:500px;height:500px;display:none"></div>-->
<!--      <div id="yandex-map"  data-motel='<%#=@service.slice(:id, :name, :latitude, :longitude)%>' style="width: 50%; height: 400px">-->

<!--      </div>-->

<!--      <script src="https://api-maps.yandex.ru/2.1/?apikey='334c8aeb-9225-4daa-864f-2ef6abce925e'&lang=ru_RU" type="text/javascript"></script>-->


          <%#= link_to 'View all towns', motels_path %>
          <%#= link_to 'Edit', edit_motel_path(@service)%>
<!--          <%= link_to "Destroy", motel_path(@service), data: {    turbo_method: :delete,
            turbo_confirm: "Are you sure?"
          } %>-->

<!--      </div>-->

<!--  </div>-->
<!--</div>-->

<p>
  <strong>Название:</strong>
  <%= @service.title %>
</p>

<p>
  <strong>Описание:</strong>
  <%= @service.description %>
</p>

<% if @service.image.attached? %>
  <p>
    <strong>Изображение:</strong><br>
    <%= image_tag @service.image, style: "max-width: 400px;" %>
  </p>
<% end %>

<%= link_to 'Редактировать', edit_service_path(@service) %> |
<%= link_to 'Назад', services_path %>