<div>
  <div>
    <div>
      <h1><%= @motel.name %></h1>
      <p><%= @motel.description %></p>
      <%= link_to "#{@motel.town.name }", town_path(@motel.town) %>
      <p><%= %></p>
      <% @motel.images.each do |img| %>
        <%= image_tag rails_storage_proxy_path(img), size: "512x320" %>
      <% end %>
      <div>
        <% @motel.services.each  do |service| %>
            <div>
              <%= service.title %>
              <% if service.image.attached? %>
                <%= image_tag service.image.variant(resize_to_limit: [50, 50]) %>
              <% end %>
            </div>
        <% end %>
      </div>

      <div id="yandex-map"  data-motel='<%=@motel.slice(:id, :name, :latitude, :longitude)%>' style="width: 50%; height: 400px"></div>
      <script src="https://api-maps.yandex.ru/2.1/?apikey='334c8aeb-9225-4daa-864f-2ef6abce925e'&lang=ru_RU" type="text/javascript"></script>


          <%= link_to 'View all towns', motels_path %>
          <%= link_to 'Edit', edit_motel_path(@motel)%>
          <%= link_to "Destroy", motel_path(@motel), data: {
              turbo_method: :delete,
              turbo_confirm: "Are you sure?"
          } %>

      </div>

  </div>
</div>