<%= form_with model: @town do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :country_id %><br>
    <%= form.collection_select :country_id, Country.order(:title), :id, :title %>
  </div>

  <div>
    <%= form.submit %>
  </div>

  <div id="map"  data-model="town"  style="width: 50%; height: 400px"></div>

  <div>
    <%= form.label :latitude %><br>
    <%= form.text_field :latitude %>
  </div>

  <div>
    <%= form.label :longitude %><br>
    <%= form.text_field :longitude %>
  </div>
<% end %>

