<div>
  <div>
    <div>
      <h1><%= @town.name %></h1>
      <p><%= @town.description %></p>
      <% @town.motels.each do |m| %>
        <p><%= m.name %></p>
      <% end %>
      <div id="yandex-map"  data-motel='<%=@town.slice(:id, :name, :latitude, :longitude)%>' style="width: 50%; height: 400px">

      </div>

      <script src="https://api-maps.yandex.ru/2.1/?apikey='334c8aeb-9225-4daa-864f-2ef6abce925e'&lang=ru_RU" type="text/javascript"></script>
    </div>
  </div>
  <div>
    <%= link_to 'View all towns', towns_path %>
    <%= link_to 'Edit', edit_town_path(@town) %>
    <%= link_to "Destroy", town_path(@town), data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    } %>
  </div>
</div>