<div>
  <div>
    <div>
      <h1><%= @town.name %></h1>
      <p><%= @town.description %></p>
    </div>
  </div>
  <div>
    <%= link_to 'View all towns', towns_path %>
    <%= link_to 'Edit', edit_town_path(@town)%>
    <%= link_to "Destroy", town_path(@town), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
    } %>
  </div>
</div>